---
import "@fontsource/inter"
import "@fontsource/inter/800.css"
import Footer from "@/components/Footer.tsx"
import Navbar from "@/components/Navbar.tsx"
import Hero from "@/components/Hero.tsx"
import Contacts from "@/components/ContactList.tsx"
import States from "@/components/States.tsx"
import Layout from "@/layouts/Layout.astro"
import { sortRegion } from "@/utils/sortRegion"
import {getContactList} from "@/services/getContactList"
import {getRegionList} from "@/services/getRegionList"
 
const regions_arr = await getRegionList()	
const regions = [...new Set(sortRegion(regions_arr).map((e) => e.region))]
const reg = Astro.url.searchParams.get("reg") ?? null
const contacts = await getContactList(reg)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Venezuela Help 2024</title>
	</head>
	<body>
		<Layout>
			<Navbar />
			<Hero />
			<States regions={regions} reg={reg} />
			<Contacts client:load contacts={contacts} reg={reg} />
			<Footer />
	</Layout>
	</body>
</html>

