---
import Layout from "@/layouts/Layout.astro";
import {cmsUrl} from "@/constants/cms";

const {id} = Astro.params
const res = await fetch(`${cmsUrl}/users/${id}`)
const content = await res.json()
---

<Layout title={content.title + ' - Venezuela Help'}>
    <p>
        {JSON.stringify(content)}
    </p>
</Layout>
